html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: #212121;
	background-color: #fff;
}
::selection{
	background-color: silver;
	color: white;
}
canvas{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}